export(as.ki.data)
export(gfCompleteMonthlyCases)
export(gfComputeLinearModel)
export(gfGapLength)
export(gfImputeMissingValue)
export(gfJulendat)
export(gfLinInt)
export(gfNonNaStations)
export(gfOutputData)
export(gfRejectLowQuality)
export(gfRun)
export(gfValidNaThreshold)
export(gsod2ki)
export(outlier2na)
export(tsOutliers)
