export(adjGsodStations)
export(as.ki.data)
export(dlGsodStations)
export(gfCompleteMonthlyCases)
export(gfComputeLinearModel)
export(gfGapLength)
export(gfImputeMissingValue)
export(gfJulendat)
export(gfLinInt)
export(gfNogapLength)
export(gfNonNaStations)
export(gfOutputData)
export(gfRejectLowQuality)
export(gfRun)
export(gfSsa)
export(gfValidNaThreshold)
export(gsod2ki)
export(gsodDf2Sp)
export(gsodPlot)
export(gsodReformat)
export(gzGsodStations)
export(outlier2na)
export(seasonalShift)
export(tsOutliers)
